<div ng-show="ulc.mensagem.length" style="background-color: rgba(76, 175, 80, 0.66)!important; margin-top: 10px!important;" class="w3-col s12 m3 w3-panel w3-green w3-round-large w3-right">
  <span ng-click="ulc.apagaMensagem()" class="w3-closebtn">&times;</span>
  <h5><center>{{ulc.mensagem}}</center></h5>
</div>


<div class="w3-container">
  <h2 style=" margin-bottom: 0px;">Usuários</h2>
  <div class="w3-row">
    <div class="w3-col s10">
      <p>Todos os usuários do facetravels</p>
    </div>
    <div class="w3-col s2">
      <a ui-sref="dashboard.usersNew" title="Novo" class="w3-btn w3-teal w3-border w3-border-black w3-round-xlarge w3-right">
        Novo
    </a>
    </div>
  </div>

  <div class="w3-responsive">
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-light-grey">
          <th>Nome</th>
          <th>Login</th>
          <th>Sexo</th>
          <th>Regra</th>
          <th></th>
        </tr>
      </thead>
      <tr ng-repeat="usuario in ulc.lista">
        <td>{{usuario.nome}}</td>
        <td>{{usuario.login}}</td>
        <td>{{usuario.sexo}}</td>
        <td>{{usuario.regra}}</td>
        <td>
          <div class="w3-bar w3-right">
            <button title="Editar" class="w3-btn w3-yellow w3-border w3-border-black w3-round-xlarge">
                <i class="fa fa-edit"></i>
            </button>
            <button title="Deletar" class="w3-btn w3-red w3-border w3-border-black w3-round-xlarge " ng-click="ulc.openModal(usuario)">
                <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- MODAL REMOVE -->
  <div id="id01" class="w3-modal">
     <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:700px">
        <header class="w3-container w3-teal">
           <h4>Deseja Realmente excluir o Usuário?</h4>
        </header>
        

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
           <div class="w3-right">
              <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-btn w3-red w3-border">cancelar</button>
              <button
                 type="button" 
                 class=" w3-border w3-btn w3-teal"
                 title="Adicionar um ponto no mapa"
                 ng-click="ulc.removeUsuario()">
              confirmar
              </button>
           </div>
        </div>
     </div>
  </div>