
<div class="w3-row-padding">
   <div class="w3-col s3" id="foto">
      <br>
      <img style="max-width: 100%; height: auto;" src="{{mpc.usuario.largePicture.data.url}}">
   </div>
   <div class="w3-col s9">
      <h2>Dados do Usuário</h2>
      <p>Dados públicos do perfil</p>
      <div class="w3-responsive">
         <table class="w3-table w3-striped w3-bordered">
            <tr>
               <th>Nome</th>
               <td id="nome">{{mpc.usuario.nome}}</td>
            </tr>
            <tr>
               <th>login</th>
               <td id="email">{{mpc.usuario.login}}</td>
            </tr>
            <tr>
               <th>sexo</th>
               <td id="sexo">{{mpc.usuario.sexo}}</td>
            </tr>
         </table>
      </div>
   </div>
</div>