<!--<fb:login-button  size="large" scope="public_profile,email, user_friends" onlogin="checkLoginState();">Conectar
</fb:login-button>-->
<br>
<br>

<div class="col-sm-12" id="foto">
</div>


<div class="w3-container">
  <h2>Dados do Usuario</h2>
  <p>Dados publicos do perfil</p>            
  <div class="w3-responsive">
   <table class="w3-table w3-striped w3-bordered">
    <tr>
      <th>Nome</th>
      <td id="nome"></td>
    </tr>
    <tr>
      <th>sobrenome</th>
      <td id="sobrenome"></td>
    </tr>
    <tr>
      <th>email</th>
      <td id="email"></td>
    </tr>
    <tr>
      <th>sexo</th>
      <td id="sexo"></td>
    </tr>
    <tr>
      <th>link</th>
      <td><a id="link" target="_blank">link face</a></td>
    </tr>
    <tr>
      <th>idade</th>
      <td id="idade"></td>
    </tr>
    <tr>
      <th>cidade</th>
      <td id="cidade"></td>
    </tr>

  </table>
</div>
</div>
