<form name="userForm" class="w3-container w3-light-grey">
   <h2>Novo Usuário</h2>
   <div class="w3-row w3-margin-bottom">
      <div class="w3-half">
         <label>Nome</label>
         <input ng-required="true" class="w3-input w3-border" type="text" ng-model="unc.usuario.nome">
      </div>
   </div>
   <div class="w3-row w3-margin-bottom">
      <div class="w3-half">
         <label>Login</label>
         <input ng-required="true" class="w3-input w3-border" ng-model="unc.usuario.login" type="text">
      </div>
   </div>
   <div class="w3-row w3-margin-bottom">
      <div class="w3-half">
         <label>Senha</label>
         <input ng-required="true" class="w3-input w3-border" ng-model="unc.usuario.senha" type="password">
      </div>
   </div>
   <div class="w3-row w3-margin-bottom">
      <div class="w3-half">
         <label>Sexo</label>
         <select ng-required="true" class="w3-select w3-border" name="option" ng-model="unc.usuario.sexo">
         	<option selected value=""></option>
            <option value="m">Masculino</option>
            <option value="f">Feminino</option>
         </select>
      </div>
   </div>
   <div class="w3-bar">
	   <button class="w3-btn w3-green " type="submit" ng-click="userForm.$valid && unc.save()">Confirmar</button>
	   <a class="w3-btn w3-white w3-border" ui-sref="usersList">Voltar</a>
	</div>
</form>