<div class="w3-row-padding" >

	<div class="w3-col m9 w3-margin-top">
		<div style=" height: 650px" class="row">
	           <div id="gmaps"></div>
	     </div>
	</div>
	<div class="w3-col m3">
		<div class="w3-container">
            <div class = " div-well w3-teal" > 
            	<label class="label-well">Meus lugares</label>
            	<button title="Adicionar um ponto no mapa" style=" padding: 2px 16px;" 
                  class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge w3-right" 
                  onclick="document.getElementById('id01').style.display='block'"><i Class="fa fa-plus"></i>
               </button>
            </div>
            <table class="w3-table w3-striped w3-white">
               <tr ng-repeat="(key, c) in mmc.enderecos">
                  <td>{{key + 1}}</td>
                  <td class="w3-center">{{c.nome}}</td>
                  <td>
                     <button title="Destacar ponto" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge w3-right" ng-click="mmc.centralizar(key)">
                     <i class="fa fa-street-view"></i>
                     </button>
                  </td>
               </tr>
            </table>
         </div>
	</div>


     <!-- MODAL ADD -->
	<div id="id01" class="w3-modal">
	   <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:700px">
	      <header class="w3-container w3-teal">
	         <h3>Adicionar ponto</h3>
	      </header>
	      <form class="w3-container" name="addPontoForm">
	         <div class="w3-section">
	            <div class="w3-margin-bottom">
	               <label><b>Localização</b></label>

	            	<input id="gplace" class="w3-input w3-border" type="text" placeholder="Nome do Local">
	            </div>
	            <div class="w3-margin-bottom">
	               <label><b>Comentário</b></label>
	               <textarea ng-model="mmc.comentario" class="w3-input w3-border" rows="4"></textarea>
	            </div>
	         </div>
	      </form>
	      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
	         <div class="w3-right">
	            <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-btn w3-red w3-border">cancelar</button>
	            <button
	               type="button" 
	               class=" w3-border w3-btn w3-teal"
	               title="Adicionar um ponto no mapa"
	               ng-click="mmc.addLugar()">
	            Adicionar
	            </button>
	         </div>
	      </div>
	   </div>
	</div>
</div>
<br>

<div class="w3-row-padding" >
	<div class="w3-container w3-card-2 w3-white w3-round w3-margin">
		<br>
		<img src="http://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:40px">
		<span class="w3-right w3-opacity">1 min</span>
		<h4 id='usuario'>{{mmc.usuario.nome}}</h4>

		<hr class="w3-clear">
		<p>{{mmc.texto}}</p>

		<div ng-repeat="comentario in mmc.listaComentarios" >
			<div class="w3-container w3-card-2 w3-white w3-round w3-margin">
				<br>
				<img src="http://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:40px">
				<span class="w3-right w3-opacity">1 min</span>
				<h4 id='usuario'>{{comentario.usuario.nome}}</h4>

				<hr class="w3-clear">
				<p>{{comentario.texto}}</p>
			</div>

		</div>

	<div ng-show="mmc.showComentario" >
		<div class="w3-container w3-card-2 w3-white w3-round w3-margin">
	        <br>
	        <img src="http://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:40px">
	        <h4 id='usuario'>{{mmc.usuario.nome}}</h4>
	        
	        <input class="w3-input w3-border" type="text" ng-model='mmc.cometario.texto' ng-keypress="mmc.addComentario($event)">
	        <br>
	    </div>
	</div>

		<button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom">
			<i class="fa fa-thumbs-up"></i>  Like
		</button> 
		<button type="button" ng-click="mmc.showComentario = !mmc.showComentario " class="w3-btn w3-theme-d2 w3-margin-bottom">
			<i class="fa fa-comment"></i>  Comment
		</button> 
	</div>
</div>
<br>

         
