<div class="w3-row" >

   <!-- Left Column -->
   <div class="w3-col m3">
      <div style="padding: 0px 16px">
         <h5 class = "h-well w3-teal">Comentarios Recentes</h5>
      </div>
      <div class="w3-container w3-card-2 w3-white w3-round w3-margin">
         <br>
         <img src="http://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
         <span class="w3-right w3-opacity">1 min</span>
         <h4>John Doe</h4>
         <br>
         <hr class="w3-clear">
         <p>Gostaria de enfatizar que o acompanhamento das preferências de consumo acarreta um processo de reformulação e modernização das direções preferenciais no sentido do progresso.</p>
         <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
               <img src="http://www.w3schools.com/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
               <img src="http://www.w3schools.com/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
            </div>
         </div>
         <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
         <button type="button" class="w3-btn w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
      </div>
      <div class="w3-container w3-card-2 w3-white w3-round w3-margin">
         <br>
         <img src="http://www.w3schools.com/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
         <span class="w3-right w3-opacity">16 min</span>
         <h4>Jane Doe</h4>
         <br>
         <hr class="w3-clear">
         <p>O que temos que ter sempre em mente é que a valorização de fatores subjetivos promove a alavancagem dos procedimentos normalmente adotados.</p>
         <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
         <button type="button" class="w3-btn w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
      </div>
      <div class="w3-container w3-card-2 w3-white w3-round w3-margin">
         <br>
         <img src="http://www.w3schools.com/w3images/avatar6.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
         <span class="w3-right w3-opacity">32 min</span>
         <h4>Angie Jane</h4>
         <br>
         <hr class="w3-clear">
         <p>Have you seen this?</p>
         <img src="http://www.w3schools.com/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
         <p>É claro que o acompanhamento das preferências de consumo assume importantes posições no estabelecimento do fluxo de informações.</p>
         <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
         <button type="button" class="w3-btn w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
      </div>
      <!-- End Left Column -->

   </div>

   <!-- Middle Column -->
   <div class="w3-col m9">

   <!-- Imports das paginas -->
      <div ui-view></div>               

      <!-- End Middle Column -->
   </div>
</div>